<a href="https://colab.research.google.com/github/ParkhMinjun/python/blob/main/%ED%98%BC%EA%B3%B5%EB%B6%84/%EB%8F%84%EC%84%9C%20%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#통계 요약

In [1]:
# 여기서부터 실습파일 사용(용량 문제)
import gdown

gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 200MB/s]

'ns_book6.csv'

In [2]:
import pandas as pd

ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
ns_book6.describe() #기술통계 자동 추출

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [4]:
sum(ns_book6['도서권수']==0) # 도서권수 최솟값인 0인 행

3206

In [5]:
ns_book7 = ns_book6[ns_book6['도서권수']>0] #0 제

In [6]:
ns_book7.describe(percentiles=[0.3, 0.6, 0.9]) # % 지정 매개변수 percentiles

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [7]:
ns_book7.describe(include='object') # 데이터 타입 지정 include
#count는 누락 값 제외 데이터 개수
#unique는 고유한 값의 개수
#top는 가장 많이 등장하는 값
#freq는 top의 등장하는 항목의 빈도수

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

## 평균 구하기

In [8]:
x = [10, 20, 30]
sum = 0
for i in range(3):
    sum += x[i]
print("평균:", sum / len(x))

평균: 20.0

In [9]:
ns_book7['대출건수'].mean() # mean()

11.593438968070707

## 중앙값 구하기

In [10]:
ns_book7['대출건수'].median() # median()

6.0

In [11]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median() # 데이터 개수가 짝수이면 가운데 두개의 값 평균이 중앙값이 된다.

0    2.5
dtype: float64

In [12]:
ns_book7['대출건수'].drop_duplicates().median() # 중복된 값 제외 후 중앙값
# 중앙값이 높은걸 보니 대출건수가 작은 중복된 행이 많아 제외된것을 알수 있다.

183.0

## 최댓값, 최솟값 구하기

In [17]:
ns_book7['대출건수'].min()

0

In [18]:
ns_book7['대출건수'].max()

1765

## 분위수 구하기

In [19]:
ns_book7['대출건수'].quantile(0.25) # quantile() 하위 25% 값 추출

2.0

In [20]:
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [21]:
# 시리즈 객체 정의후 분위수 구함
# quantile() 매서드는 interpolation 매개변수로 중간 값 계산, 기본값은 linear로 양쪽 분위수에 비례하여 결정
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

In [22]:
# midpoint는 무조건 두 수 사이의 중앙값
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint')

4.5

In [23]:
#nearest는 두 수 중에서 가까운 값 0.9가 1에 가까워서 5
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

5

In [24]:
# 백분위 구하기
# 판다스에서 관련 매서드는 없지만 간단한 변환으로 유사하게 구할수 있다.
# 10의 백분위 구해보기
# 10보다 작은지 비교하여 불리언 배열 만듦
borrow_10_flag = ns_book7['대출건수'] < 10

In [25]:
# 불리언 자료를 산술 연산하면 true는 1 false는 0으로 취급 따라서 평균을 구하면 10보다 작은 값이 차지하는 비율을 구할수 있다.
borrow_10_flag.mean()
# 10에대한 백분위는 약 0.65

0.6402712530190833

In [26]:
# quantile()로 확인
ns_book7['대출건수'].quantile(0.65)

10.0

## 분산,표준편차 구하기

In [27]:
ns_book7['대출건수'].var() # 분산

371.69563042906674

In [28]:
ns_book7['대출건수'].std() # 표준편차
# 평균보다 19만큼 더 적거나 많을수 있다.

19.279409493785508

In [29]:
# 수식을 코드로 변환 n-1로 해야함 자유도
import numpy as np

diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean()

np.sqrt( np.sum(diff**2) / (len(ns_book7)-1) )

19.279409493785508

## 최빈값 구하기

In [30]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [31]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

## 데이터프레임 기술통계

In [32]:
# 수치형 열만 연산가능 numeric_only매개변수 True
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [33]:
# 번호열은 모두 고유값이므로 최빈값 의미 없음 loc()로 도서명부터 마지막 열 지정
ns_book7.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [34]:
ns_book7.to_csv('ns_book7.csv', index=False)

# 넘파이 기술통계 함수

In [35]:
import numpy as np
# 넘파이는 mean()함수와 average()함수 사용
# average()는 동일하지만 weights 매개변수에 가중치 제공하면 가중평균을 구해준다.
np.mean(ns_book7['대출건수'])

11.593438968070707

In [36]:
# 도서권수가 많을수록 대출건수에 낮은 가중치 부여
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])

10.543612175385386

In [37]:
np.median(ns_book7['대출건수']) # 중앙값

6.0

In [38]:
np.min(ns_book7['대출건수']) # 최솟값

0

In [39]:
np.max(ns_book7['대출건수']) # 최댓값

1765

In [40]:
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75]) # 분위수

array([ 2.,  6., 14.])

In [41]:
np.var(ns_book7['대출건수']) # 분산 넘파이는 기본적으로 n으로 계산

371.6946438971496

In [42]:
ns_book7['대출건수'].var(ddof=0) #ddof로 자유도 차감값 지정 판다스 기본값 1로 n-1
# 0으로 n을 나눈 값이 나옴

371.6946438971496

In [43]:
np.var(ns_book7['대출건수'], ddof=1) # 넘파이는 기본값이 0으로 n
# 1로 n-1로 나눈 값이 나

371.69563042906674

In [44]:
np.std(ns_book7['대출건수']) # 표준편차

19.27938390865096

In [45]:
# 넘파이는 기본적으로 최빈값 함수 없음 하지만 unique() 함수로 찾을수 있다.
values, counts = np.unique(ns_book7['도서명'], return_counts=True) # unique()는 배열에서 고유한 값 찾아줌, return_counts=True는 등장 횟수 반환
max_idx = np.argmax(counts) #counts 배열에서 가장 큰 값의 인덱스 찾기 argmax() 사용
values[max_idx] #values 배열에서 해당 인덱스 값 출력

'승정원일기'